<%# "create comment" form partial to use in the render of the show page %>
<%# form_with call here uses an array, which will build a nested route, such as /articles/1/comments %>
<%= form_with model: [ @article, @article.comments.build ] do |form| %>
    <p>
        <%= form.label :commenter %>
        <br>
        <%= form.text_field :commenter %>
    </p>
    <p>
        <%= form.label :body %>
        <br>
        <%= form.text_area :body %>
    </p>
    <p>
        <%= form.submit %>
    </p>
<% end %>