<%# our edit form will look the same as our new form %>
<%# because the code will be the same, we’re going to factor it out into a shared view called a partial (this file).
The difference in the edit form vs new form is that for edit, all occurrences of `@article` have been replaced with `article` %>

<%# Because partials are shared code, it is best practice that they do not depend on specific instance variables set by a controller action.
Instead, we will pass the article to the partial as a local variable by:
updating app/views/articles/new.html.erb to use the partial via render %>

<%# A partial's filename must be prefixed with an underscore, e.g. _form.html.erb.
But when rendering, it is referenced without the underscore, e.g. render "form". %>
<%= form_with model: article do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% article.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body %><br>
    <% article.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>